@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open-sans', sans-serif;
  height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  padding: 0;
  height: 70px;
  margin: 0 auto;
}

.logo {
  width: 180px;
  margin: 0 20px;
}

.logo-light img {
  width: 160px;
  height: 80px;
  padding: 0;
  fill: #fff;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
}

.link {
  color: #000;
  display: flex;
  padding: 0;
  margin: 0 44px;
  transition: 0.2s ease;
  text-decoration: none;
}

.link:hover {
  color: #076ee7;
  transition: 0.2s ease;
}

.hamburger {
  cursor: pointer;
  border: 2px solid #fff;
  display: none;
  margin: 20px;
}

.line {
  background: #868686;
  margin: 10px;
  width: 30px;
  height: 2px;
}

.x-mark {
  display: none;
  position: absolute;
  top: 30%;
  right: -21.6%;
}

.search-bar {
  border: none;
  outline: 0;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
  padding: 10px;
  margin: 25px 0;
  width: 100%;
  min-width: 300px;
  outline: 0;
}

.search-bar:focus {
  border: none;
  outline: 0;
  box-shadow: 2px 2px 8px 8px rgba(17, 124, 224, 0.5);
  border-radius: 4px 0 0 4px;
  padding: 10px;
  width: 100%;
  min-width: 300px;
}

.search-btn {
  cursor: pointer;
  box-shadow: 5px 2px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    140deg,
    rgba(61, 61, 61, 0.932),
    rgba(114, 114, 114, 0.945)
  );
  margin: 25px 0;
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px;
}

.search-btn:hover {
  cursor: pointer;
  background: linear-gradient(85deg, #076ee7, #0770e7b0);
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px;
}

.search-btn:active {
  cursor: pointer;
  background: linear-gradient(85deg, #076ee7, #0770e7b0);
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 10px;
  transform: scale(0.96);
  transition: 0.2s ease;
}

.search-icon {
  fill: #fff;
}

/* main */

.container {
  padding-top: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

h1.hero {
  margin-top: 30px;
  font-size: 28px;
}

h2.hero {
  font-size: 26px;
  font-weight: 500;
  padding: 20px 0;
}

h3.hero {
  font-weight: 400;
  padding: 20px 280px;
  margin-bottom: 110px;
}

.sub-heading {
  font-weight: 500;
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.6rem;
}

.sub-heading:after {
  position: absolute;
  content: '';
  max-width: 1440px;
  width: 100%;
  height: 2px;
  top: 150%;
  left: 0;
  background: #eee;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.title {
  margin: 3rem;
  font-size: 3.5rem;
  padding: 0.5rem;
}

.heading-3 {
  font-size: 2rem;
  margin: 1rem 2rem;
  padding: 0 8px;
}

.heading-4 {
  font-size: 1.3rem;
  margin: 2.5rem 3rem;
  padding: 0.5rem;
}

.heading-5 {
  font-size: 1.2rem;
  margin: 2.5rem;
  font-weight: 500;
}

.para {
  max-width: 1000px;
  padding: 0 1.5rem;
  margin: 1em;
  line-height: 1.5;
}

.list {
  font-weight: 300;
  padding: 0 6rem;
  line-height: 1.5;
  letter-spacing: 0.3px;
}

.cards {
  margin: 40px 0;
  padding-top: 50px;
}

.card {
  padding: 2rem;
  margin: 20px 0;
}

.card-link {
  color: #076ee7;
  text-decoration: none;
  margin: 0;
}

.card-title {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 0;
}

.card-body {
  line-height: 24px;
}

.card-link:hover {
  color: #073be7;
  text-decoration: underline;
}

.hero {
  text-align: center;
  margin: 0 20px;
}

.code-color {
  color: rgb(35, 65, 233);
}

.code-heading {
  font-weight: 200;
  padding: 0.5rem 1rem;
  margin: 0 1.5rem;
}

.code-block {
  background: #f3f4f5;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: inset rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem 2.4rem;
  margin-bottom: 2rem;
}

/* contact */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 50vh;
  width: 700px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  z-index: -999;
}

.contact-form div {
  width: 100%;
}

.contact-form label {
  display: block;
  padding-bottom: 5px;
}

.contact-form .form-input {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

.contact-form div {
  margin: 10px;
}

textarea {
  width: 100%;
  resize: none;
}

.contact-form input[type='submit'] {
  cursor: pointer;
  border-radius: 5px;
  color: #eee;
  font-size: 16px;
  border: 0;
  background: rgba(30, 79, 240, 0.959);
  padding: 15px;
  margin-bottom: 110px;
  width: 100%;
}

.contact-form input[type='submit']:hover {
  background: #1b81f5;
}

/* footer */

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: rgb(141, 141, 141);
  height: 265px;
}

.footer-content {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1440px;
  width: 100%;
}

.footer-links-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-social-links {
  display: flex;
  justify-content: flex;
  align-items: flex-end;
  list-style: none;
  margin: 20px;
}

.footer-social-link {
  padding: 0 20px;
}

.social-logo {
  fill: #eee;
}

.social-logo:hover {
  fill: #076ee7;
}

.footer-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 10px;
}

.footer-link {
  padding: 10px 0;
}

.footer-links a {
  color: #eee;
  text-decoration: none;
  margin: 0 22px;
}

.footer-links a:hover {
  color: #076ee7;
  text-decoration: none;
  margin: 50px 20px;
}

@media screen and (max-width: 1600px) {
  .search-bar {
    display: none;
    border: none;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    padding: 20px;
    width: 100%;
    min-width: 300px;
  }

  .search-btn {
    cursor: pointer;
    background: 0;
    box-shadow: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .search-btn:hover {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
  }

  .search-btn:active {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0;
    transform: scale(1);
  }

  .search-icon {
    fill: #000;
  }

  .search-icon:hover {
    fill: #076ee7;
  }
}

@media screen and (max-width: 1420px) {
  .link {
    color: #000;
    display: flex;
    padding: 0;
    margin: 0 50px;
    transition: 0.2s ease;
    text-decoration: none;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 200px;
  }

  .links {
    color: #fff;
    display: none;
    background: rgb(134, 134, 134);
    border-radius: 2px;
    max-width: 1200px;
    width: 100%;
    height: 434px;
    position: absolute;
    text-align: center;
    top: 130%;
    left: 0%;
  }

  .links.open {
    display: block;
  }

  .hamburger {
    display: block;
    padding: 2px;
  }

  .hamburger:hover {
    display: block;
    border: 2px solid #000;
    padding: 2px;
  }

  .hamburger.open {
    background: #000;
    border: 2px solid #000;
    display: block;
    padding: 2px;
  }

  .link {
    color: #fff;
    display: flex;
    position: relative;
    padding: 20px 0;
    margin: 20px;
    text-decoration: none;
  }

  .link::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background: #fff;
    top: 110%;
    left: -5%;
  }

  .search-bar {
    display: block;
    border: none;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px 0 0 4px;
    padding: 20px;
    width: 100%;
    min-width: 300px;
  }

  .search-icon {
    fill: #fff;
  }

  .container.active {
    padding-top: 500px;
  }

  /* main */

  .hero {
    text-align: center;
  }

  .cards {
    max-width: 100%;
  }

  .search-btn {
    cursor: pointer;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(85deg, #076ee7, #0770e7b0);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
  }

  .search-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      140deg,
      rgba(92, 92, 92, 0.932),
      rgba(54, 54, 54, 0.945)
    );
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
  }

  .search-btn:active {
    cursor: pointer;
    background: linear-gradient(
      140deg,
      rgba(92, 92, 92, 0.932),
      rgba(54, 54, 54, 0.945)
    );
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    transform: scale(0.96);
    transition: 0.2s ease;
  }

  .title {
    font-family: inherit;
    text-align: center;
    font-size: 2.5rem;
  }

  .para {
    margin: 1rem;
    line-height: 1.6;
    letter-spacing: 0.4px;
  }

  .heading-3 {
    font-size: 1.7rem;
    margin: 0.5rem 2rem 1rem;
  }

  .heading-4 {
    font-size: 1.3rem;
    margin: 2.5rem 2rem 1rem;
  }

  .list {
    font-weight: 300;
    padding: 0 4rem;
    line-height: 1.5;
    letter-spacing: 0.3px;
  }
}

@media screen and (max-width: 998px) {
  .logo {
    width: 180px;
  }

  .line {
    margin: 8px;
    width: 30px;
    height: 2px;
  }

  .links {
    color: #fff;
    display: none;
    background: rgb(134, 134, 134);
    border-radius: 2px;
    max-width: 1200px;
    width: 100%;
    height: 434px;
    position: absolute;
    text-align: center;
    top: 120%;
    left: 0%;
  }

  .links.open {
    display: block;
  }

  .link {
    display: flex;
    position: relative;
    padding: 20px 0;
    margin: 20px;
    transition: 0.2s ease;
  }

  .link::after {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background: #fff;
    top: 110%;
    left: -5%;
  }

  .search-btn {
    cursor: pointer;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(85deg, #076ee7, #0770e7b0);
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
  }

  .search-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      140deg,
      rgba(92, 92, 92, 0.932),
      rgba(54, 54, 54, 0.945)
    );
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
  }

  .search-btn:active {
    cursor: pointer;
    background: linear-gradient(
      140deg,
      rgba(92, 92, 92, 0.932),
      rgba(54, 54, 54, 0.945)
    );
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 10px;
    transform: scale(0.96);
    transition: 0.2s ease;
  }

  /* Contact */
  h3.hero {
    font-size: 18px;
    padding: 30px 2px;
    margin-bottom: 100px;
  }
}
